<div>
  <input type="text" [(ngModel)]="searchTerm" placeholder="Rechercher" />
  <button type="button">Voir mon panier</button>
  <table *ngIf="filterProducts().length > 0">
    <thead>
      <tr>
        <th>ID</th>
        <th>Nom</th>
        <th>Catégorie</th>
        <th>Prix</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of filterProducts()">
        <td>{{ product.id }}</td>
        <td>{{ product.nom }}</td>
        <td>{{ product.categorie }}</td>
        <td>{{ product.prix | currency: 'EUR' }}</td>
        <button type="button">Ajouter au panier</button>
      </tr>
    </tbody>
  </table>

  <div *ngIf="filterProducts().length === 0">
    Aucun produit trouvé.
  </div>
</div>
